<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lineLight00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{52,415},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{83,593},{31,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lineLight02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1,329},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{43,591},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{1,612},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,165},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,38}</string>
                <key>spriteSourceSize</key>
                <string>{31,38}</string>
                <key>textureRect</key>
                <string>{{41,624},{31,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lineLight09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,247},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{102,415},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{102,441},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1,645},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{81,626},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{81,652},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,657},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1,671},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{53,657},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{79,678},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,683},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1,697},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{53,683},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,127},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,169},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,211},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{79,704},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,709},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{1,723},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{53,709},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{79,730},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,735},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,253},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,295},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,444},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,465},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,486},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,467},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{66,337},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{66,363},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,24}</string>
                <key>spriteSourceSize</key>
                <string>{54,24}</string>
                <key>textureRect</key>
                <string>{{66,389},{54,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,507},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,528},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,509},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,549},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,570},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,551},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineLight49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{1,394},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lineLight-0.png</string>
            <key>size</key>
            <string>{127,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854cec6c5c2968e3af4a66531353687a:431a99b8be63d3d05ba5a91a3cf8a8fc:05ad27c6f2137e65e28e9a5089e0cf5a$</string>
            <key>textureFileName</key>
            <string>lineLight-0.png</string>
        </dict>
    </dict>
</plist>
