<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Objects/Barrel (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{273,404},{89,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Objects/Barrel (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{571,391},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/Box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{143,235},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/DoorLocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,232}</string>
                <key>spriteSourceSize</key>
                <string>{140,232}</string>
                <key>textureRect</key>
                <string>{{1,235},{140,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/DoorOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,232}</string>
                <key>spriteSourceSize</key>
                <string>{140,232}</string>
                <key>textureRect</key>
                <string>{{144,1},{140,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/DoorUnlocked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,232}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/Saw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,181}</string>
                <key>spriteSourceSize</key>
                <string>{179,181}</string>
                <key>textureRect</key>
                <string>{{286,1},{179,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Objects/Switch (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,129}</string>
                <key>spriteSourceSize</key>
                <string>{36,129}</string>
                <key>textureRect</key>
                <string>{{1,469},{36,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Objects/Switch (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,129}</string>
                <key>spriteSourceSize</key>
                <string>{36,129}</string>
                <key>textureRect</key>
                <string>{{403,274},{36,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Acid (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{467,131},{128,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Acid (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{467,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{597,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{727,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{857,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{987,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{143,365},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{597,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/BGTile (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{727,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Fence (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-24}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{394,427},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiles/Fence (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{128,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1083,261},{128,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiles/Fence (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-24}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{476,427},{64,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiles/Spike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{128,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{286,184},{128,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{857,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1117,1},{128,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiles/Tile (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,30}</string>
                <key>spriteSize</key>
                <string>{124,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{922,391},{124,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1117,131},{128,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tiles/Tile (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{441,357},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{662,391},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{792,391},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{987,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{273,274},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{831,261},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{441,227},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{957,261},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{571,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{701,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiles/Tile (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{124,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1048,391},{124,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>platform-0.png</string>
            <key>size</key>
            <string>{1186,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e61e29836b178917664d3e1b2c9163e:2afaab8fb6da4a64fa28c62e80cb8f27:ea77404224149c74a714d7c543c8dee3$</string>
            <key>textureFileName</key>
            <string>platform-0.png</string>
        </dict>
    </dict>
</plist>
