<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,178}</string>
                <key>spriteSourceSize</key>
                <string>{800,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,178}</string>
                <key>spriteSourceSize</key>
                <string>{800,178}</string>
                <key>textureRect</key>
                <string>{{803,1},{800,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BG-0.png</string>
            <key>size</key>
            <string>{1604,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9207666cef9bd5a8a21cd7124e487603:d2bbc40f1feac6c5aa5e0c540415b2dd:c5b11d209a8338dfec7e6b8d476b65d9$</string>
            <key>textureFileName</key>
            <string>BG-0.png</string>
        </dict>
    </dict>
</plist>
