<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-16}</string>
                <key>spriteSize</key>
                <string>{195,230}</string>
                <key>spriteSourceSize</key>
                <string>{289,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{227,211}</string>
                <key>spriteSourceSize</key>
                <string>{253,237}</string>
                <key>textureRect</key>
                <string>{{1,397},{227,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{227,211}</string>
                <key>spriteSourceSize</key>
                <string>{253,237}</string>
                <key>textureRect</key>
                <string>{{230,397},{227,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{227,211}</string>
                <key>spriteSourceSize</key>
                <string>{253,237}</string>
                <key>textureRect</key>
                <string>{{459,397},{227,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{229,213}</string>
                <key>spriteSourceSize</key>
                <string>{253,237}</string>
                <key>textureRect</key>
                <string>{{688,399},{229,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{197,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{1,198},{197,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{197,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{204,198},{197,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{195,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{233,1},{195,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{195,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{436,1},{195,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{195,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{639,1},{195,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{197,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{407,198},{197,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{197,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{610,198},{197,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,201}</string>
                <key>spriteSourceSize</key>
                <string>{199,201}</string>
                <key>textureRect</key>
                <string>{{813,198},{199,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-1.png</string>
            <key>size</key>
            <string>{1015,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-1.png</string>
        </dict>
    </dict>
</plist>
