<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AttackL__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{248,218}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{219,1},{248,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackL__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{266,216}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackL__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{266,216}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{1,269},{266,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackL__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{194,218}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{219,975},{194,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,7}</string>
                <key>spriteSize</key>
                <string>{150,222}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{890,1},{150,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackR__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{248,218}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{219,251},{248,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{266,216}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{1,537},{266,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{266,216}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{1,805},{266,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,4}</string>
                <key>spriteSize</key>
                <string>{194,218}</string>
                <key>spriteSourceSize</key>
                <string>{268,248}</string>
                <key>textureRect</key>
                <string>{{1128,222},{194,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{119,232}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{439,1},{119,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{137,228}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{452,469},{137,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{137,224}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{671,684},{137,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{119,232}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{439,235},{119,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{137,224}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{755,454},{137,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{137,228}</string>
                <key>spriteSourceSize</key>
                <string>{141,232}</string>
                <key>textureRect</key>
                <string>{{532,699},{137,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-5}</string>
                <key>spriteSize</key>
                <string>{135,219}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{1012,447},{135,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-16}</string>
                <key>spriteSize</key>
                <string>{171,217}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{1148,887},{171,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-40}</string>
                <key>spriteSize</key>
                <string>{211,151}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{1357,439},{211,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{223,131}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{879,228},{223,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{223,131}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{879,228},{223,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{223,131}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{879,228},{223,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-51}</string>
                <key>spriteSize</key>
                <string>{223,131}</string>
                <key>spriteSourceSize</key>
                <string>{241,249}</string>
                <key>textureRect</key>
                <string>{{879,228},{223,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{208,219}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1042,1},{208,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{208,217}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1252,1},{208,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{206,217}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1149,442},{206,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{206,217}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1324,220},{206,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{206,217}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1462,1},{206,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{208,217}</string>
                <key>spriteSourceSize</key>
                <string>{222,227}</string>
                <key>textureRect</key>
                <string>{{1046,668},{208,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{810,680},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{894,453},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{912,902},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{928,675},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{1030,897},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{114,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{1012,225},{114,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{1030,897},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{928,675},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{912,902},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,220}</string>
                <key>spriteSourceSize</key>
                <string>{116,220}</string>
                <key>textureRect</key>
                <string>{{894,453},{116,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,19}</string>
                <key>spriteSize</key>
                <string>{150,209}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{1411,652},{150,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,19}</string>
                <key>spriteSize</key>
                <string>{150,209}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{1510,439},{150,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,18}</string>
                <key>spriteSize</key>
                <string>{152,207}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{1475,926},{152,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{236,231}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{219,501},{236,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,3}</string>
                <key>spriteSize</key>
                <string>{172,233}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{358,739},{172,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,18}</string>
                <key>spriteSize</key>
                <string>{190,207}</string>
                <key>spriteSourceSize</key>
                <string>{252,261}</string>
                <key>textureRect</key>
                <string>{{1670,1},{190,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{152,210}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1321,877},{152,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1629,965},{156,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{174,202}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1862,1},{174,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{176,202}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{439,974},{176,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{164,204}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1686,210},{164,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{152,208}</string>
                <key>spriteSourceSize</key>
                <string>{180,216}</string>
                <key>textureRect</key>
                <string>{{1532,220},{152,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{137,234}</string>
                <key>spriteSourceSize</key>
                <string>{181,242}</string>
                <key>textureRect</key>
                <string>{{219,739},{137,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{129,220}</string>
                <key>spriteSourceSize</key>
                <string>{181,242}</string>
                <key>textureRect</key>
                <string>{{781,910},{129,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{129,220}</string>
                <key>spriteSourceSize</key>
                <string>{181,242}</string>
                <key>textureRect</key>
                <string>{{781,910},{129,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{129,220}</string>
                <key>spriteSourceSize</key>
                <string>{181,242}</string>
                <key>textureRect</key>
                <string>{{781,910},{129,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{153,214}</string>
                <key>spriteSourceSize</key>
                <string>{181,242}</string>
                <key>textureRect</key>
                <string>{{1256,661},{153,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kunai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,80}</string>
                <key>spriteSourceSize</key>
                <string>{16,80}</string>
                <key>textureRect</key>
                <string>{{1,1073},{16,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{164,225}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{560,230},{164,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{162,227}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{617,929},{162,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{162,205}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{1686,416},{162,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{164,225}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{724,1},{164,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{162,225}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{591,457},{162,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{162,227}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{560,1},{162,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{162,205}</string>
                <key>spriteSourceSize</key>
                <string>{182,229}</string>
                <key>textureRect</key>
                <string>{{1629,801},{162,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{185,174}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1862,205},{185,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{183,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1852,392},{183,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{183,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1850,570},{183,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{181,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1847,748},{181,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{179,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1836,926},{179,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{183,176}</string>
                <key>spriteSourceSize</key>
                <string>{187,176}</string>
                <key>textureRect</key>
                <string>{{1662,623},{183,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{151,224}</string>
                <key>spriteSourceSize</key>
                <string>{189,226}</string>
                <key>textureRect</key>
                <string>{{726,228},{151,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-0.png</string>
            <key>size</key>
            <string>{2037,1177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abde48832fc306ac2279de362a5234c9:0bda5f46111865c51c2104e0bbe33330:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-0.png</string>
        </dict>
    </dict>
</plist>
