<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,355}</string>
                <key>spriteSourceSize</key>
                <string>{1600,355}</string>
                <key>textureRect</key>
                <string>{{1,359},{1600,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1600,356}</string>
                <key>spriteSourceSize</key>
                <string>{1600,356}</string>
                <key>textureRect</key>
                <string>{{1,1},{1600,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,1},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,33},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,97},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{10,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,161},{10,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,129},{20,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1603,65},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BG-0.png</string>
            <key>size</key>
            <string>{1632,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19b938ed2852fbfc0a76956b4d71f24:639d9a054681ed3d88e85d347cae2653:c5b11d209a8338dfec7e6b8d476b65d9$</string>
            <key>textureFileName</key>
            <string>BG-0.png</string>
        </dict>
    </dict>
</plist>
