<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{492,493}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{951,1318},{492,493}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,2}</string>
                <key>spriteSize</key>
                <string>{488,485}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1446,1318},{488,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{516,475}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{490,546},{516,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{514,479}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1,1091},{514,479}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{510,479}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{977,1},{510,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-2}</string>
                <key>spriteSize</key>
                <string>{396,477}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1,1607},{396,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-10}</string>
                <key>spriteSize</key>
                <string>{455,424}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1489,1},{455,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{455,422}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1489,427},{455,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{455,422}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1486,851},{455,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-9}</string>
                <key>spriteSize</key>
                <string>{455,422}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{482,1606},{455,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,6}</string>
                <key>spriteSize</key>
                <string>{467,517}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{967,849},{467,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,4}</string>
                <key>spriteSize</key>
                <string>{467,513}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{482,1091},{467,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{485,543}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{490,1},{485,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{487,543}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{1,1},{487,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{487,543}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{1,546},{487,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kunai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,32}</string>
                <key>spriteSourceSize</key>
                <string>{160,32}</string>
                <key>textureRect</key>
                <string>{{1486,1275},{160,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{365,502}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{977,482},{365,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-0.png</string>
            <key>size</key>
            <string>{1945,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-0.png</string>
        </dict>
    </dict>
</plist>
