<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,1}</string>
                <key>spriteSize</key>
                <string>{370,483}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{913,423},{370,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-33}</string>
                <key>spriteSize</key>
                <string>{388,457}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{913,795},{388,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-58}</string>
                <key>spriteSize</key>
                <string>{438,387}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,1530},{438,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{453,420}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{458,1},{453,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{453,420}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{913,1},{453,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{453,418}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1,425},{453,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-8}</string>
                <key>spriteSize</key>
                <string>{453,420}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1368,1},{453,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-9}</string>
                <key>spriteSize</key>
                <string>{453,420}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{458,423},{453,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-10}</string>
                <key>spriteSize</key>
                <string>{455,422}</string>
                <key>spriteSourceSize</key>
                <string>{505,474}</string>
                <key>textureRect</key>
                <string>{{1,1},{455,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,1}</string>
                <key>spriteSize</key>
                <string>{317,517}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{509,1351},{317,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,25}</string>
                <key>spriteSize</key>
                <string>{373,477}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{1398,423},{373,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{363,455}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1197,1530},{363,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{367,453}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{828,1517},{367,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{338,488}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1562,1530},{338,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{334,506}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1,1185},{334,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{330,504}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{843,1185},{330,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{362,478}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1372,1166},{362,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{366,484}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1372,798},{366,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{332,504}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{509,845},{332,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{331,506}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{1,845},{331,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-1.png</string>
            <key>size</key>
            <string>{1901,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-1.png</string>
        </dict>
    </dict>
</plist>
