<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,6}</string>
                <key>spriteSize</key>
                <string>{314,493}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1007,1},{314,493}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{321,487}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{1476,320},{321,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{321,489}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{494,316},{321,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{321,491}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{1,289},{321,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{321,489}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{985,317},{321,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-101}</string>
                <key>spriteSize</key>
                <string>{494,327}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{975,640},{494,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-115}</string>
                <key>spriteSize</key>
                <string>{482,321}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,612},{482,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-115}</string>
                <key>spriteSize</key>
                <string>{482,321}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,612},{482,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-115}</string>
                <key>spriteSize</key>
                <string>{482,321}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,612},{482,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-115}</string>
                <key>spriteSize</key>
                <string>{482,321}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,612},{482,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{286,498}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-13}</string>
                <key>spriteSize</key>
                <string>{357,459}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{481,967},{357,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-12}</string>
                <key>spriteSize</key>
                <string>{365,451}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{942,969},{365,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{336,484}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1471,643},{336,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{326,488}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{485,639},{326,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{344,478}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1,935},{344,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1597,1374},{397,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{395,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{799,1336},{395,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{393,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1,1281},{393,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{391,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1395,981},{391,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{393,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{400,1326},{393,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{395,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1198,1374},{395,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{313,504}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{501,1},{313,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{317,504}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{1502,1},{317,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-2.png</string>
            <key>size</key>
            <string>{2007,1772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-2.png</string>
        </dict>
    </dict>
</plist>
