<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,3}</string>
                <key>spriteSize</key>
                <string>{292,487}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1,1165},{292,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,5}</string>
                <key>spriteSize</key>
                <string>{292,491}</string>
                <key>spriteSourceSize</key>
                <string>{524,565}</string>
                <key>textureRect</key>
                <string>{{1463,874},{292,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{501,580},{290,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1003,581},{290,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{288,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1503,1},{288,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{288,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1,289},{288,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{286,498}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{286,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{286,498}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{501,1},{286,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{288,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{503,290},{288,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{288,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1005,291},{288,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,500}</string>
                <key>spriteSourceSize</key>
                <string>{290,500}</string>
                <key>textureRect</key>
                <string>{{1505,582},{290,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,15}</string>
                <key>spriteSize</key>
                <string>{289,503}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{1507,291},{289,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{313,461}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1380,1473},{313,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{303,463}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1445,1168},{303,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{309,455}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{923,1465},{309,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-15}</string>
                <key>spriteSize</key>
                <string>{307,459}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1,1459},{307,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-4}</string>
                <key>spriteSize</key>
                <string>{291,479}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{1,870},{291,479}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{291,477}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{984,873},{291,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{291,477}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{984,873},{291,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{291,477}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{984,873},{291,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,4}</string>
                <key>spriteSize</key>
                <string>{297,463}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{980,1166},{297,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{307,459}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{462,1462},{307,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,8}</string>
                <key>spriteSize</key>
                <string>{307,459}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{462,1462},{307,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-9}</string>
                <key>spriteSize</key>
                <string>{295,488}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{490,1165},{295,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{287,500}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{1001,1},{287,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-4}</string>
                <key>spriteSize</key>
                <string>{291,500}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{482,872},{291,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-8}</string>
                <key>spriteSize</key>
                <string>{289,498}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{1,579},{289,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-4.png</string>
            <key>size</key>
            <string>{2011,1787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-4.png</string>
        </dict>
    </dict>
</plist>
