<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Climb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{319,485}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{500,587},{319,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{321,475}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{971,920},{321,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{319,481}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{488,908},{319,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{321,481}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{987,597},{321,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{321,475}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{481,1229},{321,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{319,485}</string>
                <key>spriteSourceSize</key>
                <string>{361,497}</string>
                <key>textureRect</key>
                <string>{{1,594},{319,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,16}</string>
                <key>spriteSize</key>
                <string>{294,497}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,298},{294,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-6}</string>
                <key>spriteSize</key>
                <string>{324,465}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{958,1243},{324,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-83}</string>
                <key>spriteSize</key>
                <string>{478,317}</string>
                <key>spriteSourceSize</key>
                <string>{578,599}</string>
                <key>textureRect</key>
                <string>{{1,915},{478,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-77,22}</string>
                <key>spriteSize</key>
                <string>{301,487}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{1012,294},{301,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,13}</string>
                <key>spriteSize</key>
                <string>{291,505}</string>
                <key>spriteSourceSize</key>
                <string>{495,583}</string>
                <key>textureRect</key>
                <string>{{508,1},{291,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-17}</string>
                <key>spriteSize</key>
                <string>{319,459}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1256,1578},{319,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{337,453}</string>
                <key>spriteSourceSize</key>
                <string>{425,497}</string>
                <key>textureRect</key>
                <string>{{1519,1},{337,453}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-14}</string>
                <key>spriteSize</key>
                <string>{307,475}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{1,1234},{307,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{295,505}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{1,1},{295,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,0}</string>
                <key>spriteSize</key>
                <string>{311,471}</string>
                <key>spriteSourceSize</key>
                <string>{399,543}</string>
                <key>textureRect</key>
                <string>{{1,1543},{311,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{328,462}</string>
                <key>spriteSourceSize</key>
                <string>{376,520}</string>
                <key>textureRect</key>
                <string>{{1425,1248},{328,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{389,399}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1501,456},{389,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{387,399}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{474,1578},{387,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{389,399}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{1470,857},{389,399}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{391,397}</string>
                <key>spriteSourceSize</key>
                <string>{397,401}</string>
                <key>textureRect</key>
                <string>{{863,1578},{391,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-5}</string>
                <key>spriteSize</key>
                <string>{291,502}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{1015,1},{291,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-5}</string>
                <key>spriteSize</key>
                <string>{291,502}</string>
                <key>spriteSourceSize</key>
                <string>{383,514}</string>
                <key>textureRect</key>
                <string>{{508,294},{291,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy-3.png</string>
            <key>size</key>
            <string>{1891,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfe726f64e0a961654a5ad21fde184f:f75cc42e2516c4b374ce84bfc3fffd35:6d2d2f379a36009480e74e88be2ab3cf$</string>
            <key>textureFileName</key>
            <string>enemy-3.png</string>
        </dict>
    </dict>
</plist>
