<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Climb_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{234,462}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1,930},{234,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{256,458}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1,1394},{256,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{822,900},{272,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{236,462}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1,466},{236,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{907,1348},{272,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{256,458}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{237,930},{256,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,7}</string>
                <key>spriteSize</key>
                <string>{234,452}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{239,466},{234,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{584,1802},{232,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{268,463}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{276,427}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1420,448},{276,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1484,1457},{332,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1484,1457},{332,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunL__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{271,1},{323,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{921,1},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{596,1},{323,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{475,453},{323,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{584,1354},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{259,1390},{323,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1700,1},{363,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1700,731},{361,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1700,1094},{361,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1700,366},{363,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{243,441}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1025,1796},{243,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{317,447}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{800,451},{317,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{305,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1096,900},{305,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{301,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1181,1347},{301,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-1}</string>
                <key>spriteSize</key>
                <string>{299,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1119,449},{299,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{297,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1244,1},{297,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{325,447}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{495,905},{325,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-3}</string>
                <key>spriteSize</key>
                <string>{295,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1403,896},{295,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-6}</string>
                <key>spriteSize</key>
                <string>{243,439}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1468,1794},{243,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-1.png</string>
            <key>size</key>
            <string>{2048,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a047b517341793248ab5bca1159cf3f7:19f0534db732733a3428ce57b506f834:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-1.png</string>
        </dict>
    </dict>
</plist>
