<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{490,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{495,1028},{490,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,10}</string>
                <key>spriteSize</key>
                <string>{494,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,1526},{494,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{528,423}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1061,1},{528,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{528,425}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{528,425}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{531,1},{528,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,7}</string>
                <key>spriteSize</key>
                <string>{234,452}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1591,1},{234,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-10}</string>
                <key>spriteSize</key>
                <string>{266,436}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{670,428},{266,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-33}</string>
                <key>spriteSize</key>
                <string>{336,432}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1709,1028},{336,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,9}</string>
                <key>spriteSize</key>
                <string>{472,464}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1561,562},{472,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{472,460}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{928,1520},{472,460}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{490,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{436,1526},{490,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{496,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1,1028},{496,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{498,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1061,426},{498,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,5}</string>
                <key>spriteSize</key>
                <string>{340,464}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1,428},{340,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{268,463}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{938,1245},{268,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{304,423}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1403,1028},{304,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1709,1462},{332,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1709,1462},{332,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kunai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,160}</string>
                <key>spriteSourceSize</key>
                <string>{32,160}</string>
                <key>textureRect</key>
                <string>{{1390,920},{32,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1591,237},{323,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{938,920},{323,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{317,447}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1390,1515},{317,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{325,447}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{343,428},{325,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-0.png</string>
            <key>size</key>
            <string>{2046,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a599bd60444fe6575caa08173bf33ab1:a7a18f916abea0ae14ac32d16865479b:675499cab74328f638ed67d6f8808c26$</string>
            <key>textureFileName</key>
            <string>ninja-0.png</string>
        </dict>
    </dict>
</plist>
