<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,6}</string>
                <key>spriteSize</key>
                <string>{418,425}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-56}</string>
                <key>spriteSize</key>
                <string>{380,370}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{357,979},{380,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-80}</string>
                <key>spriteSize</key>
                <string>{420,300}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{379,677},{420,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,38}</string>
                <key>spriteSize</key>
                <string>{298,414}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1131,1396},{298,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,38}</string>
                <key>spriteSize</key>
                <string>{298,414}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1220,686},{298,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,36}</string>
                <key>spriteSize</key>
                <string>{302,410}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1547,1132},{302,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,37}</string>
                <key>spriteSize</key>
                <string>{376,412}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1,428},{376,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{300,417}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{801,686},{300,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{310,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{357,1351},{310,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{340,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1,1669},{340,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{346,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1258,332},{346,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{354,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1,1266},{354,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{352,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{855,332},{352,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{324,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{739,988},{324,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{306,409}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1126,1696},{306,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-5}</string>
                <key>spriteSize</key>
                <string>{302,415}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1705,1},{302,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{353,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,842},{353,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{355,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{421,1},{355,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{329,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{851,1},{329,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{317,432}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{421,358},{317,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{319,406}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1144,988},{319,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{329,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1281,1},{329,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{367,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{762,1314},{367,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{404,1663},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{357,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1636,781},{357,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{765,1661},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1661,418},{361,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-2.png</string>
            <key>size</key>
            <string>{2009,2013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a599bd60444fe6575caa08173bf33ab1:a7a18f916abea0ae14ac32d16865479b:675499cab74328f638ed67d6f8808c26$</string>
            <key>textureFileName</key>
            <string>ninja-2.png</string>
        </dict>
    </dict>
</plist>
