<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Glide_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{416,1},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,865},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{411,428}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,1297},{411,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{416,433},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{829,1},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{413,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{413,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,433},{413,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,36}</string>
                <key>spriteSize</key>
                <string>{302,410}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1186,433},{302,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{304,411}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1077,863},{304,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{310,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{745,1295},{310,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{324,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1383,947},{324,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{306,409}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1490,639},{306,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{304,423}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{771,865},{304,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{355,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{414,865},{355,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{329,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1242,1},{329,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{317,432}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1573,1},{317,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunL__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{319,406}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1727},{319,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunR__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{355,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{829,433},{355,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{329,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{414,1295},{329,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{317,432}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1573,320},{317,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunR__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{319,406}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{409,1727},{319,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{817,1700},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1404,1273},{363,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1533,1622},{361,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1184,1657},{363,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1057,1290},{365,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-3.png</string>
            <key>size</key>
            <string>{2006,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abde48832fc306ac2279de362a5234c9:0bda5f46111865c51c2104e0bbe33330:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-3.png</string>
        </dict>
    </dict>
</plist>
