<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{490,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,922},{490,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,10}</string>
                <key>spriteSize</key>
                <string>{494,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{499,428},{494,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{528,423}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1061,1},{528,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{528,425}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{528,425}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{531,1},{528,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{272,450}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1775,983},{272,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{256,456}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1591,1},{256,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{256,456}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1591,259},{256,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{272,450}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1775,1435},{272,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,9}</string>
                <key>spriteSize</key>
                <string>{472,464}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1561,517},{472,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{472,460}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{993,920},{472,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{490,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{499,863},{490,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{496,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1,428},{496,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{498,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1061,426},{498,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,5}</string>
                <key>spriteSize</key>
                <string>{340,464}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{493,1355},{340,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{310,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{959,1382},{310,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{306,409}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1364,1382},{306,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kunai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,160}</string>
                <key>spriteSourceSize</key>
                <string>{32,160}</string>
                <key>textureRect</key>
                <string>{{995,428},{32,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{329,434}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1365},{329,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunL__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,11}</string>
                <key>spriteSize</key>
                <string>{353,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1082,1694},{353,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1,1697},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{357,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{723,1697},{357,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{362,1697},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a047b517341793248ab5bca1159cf3f7:19f0534db732733a3428ce57b506f834:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-0.png</string>
        </dict>
    </dict>
</plist>
