<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AttackL__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,11}</string>
                <key>spriteSize</key>
                <string>{288,437}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{442,547},{288,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackL__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,9}</string>
                <key>spriteSize</key>
                <string>{384,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{438,1105},{384,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,11}</string>
                <key>spriteSize</key>
                <string>{288,437}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,768},{288,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,13}</string>
                <key>spriteSize</key>
                <string>{278,439}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{895,300},{278,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AttackR__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,9}</string>
                <key>spriteSize</key>
                <string>{384,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,1316},{384,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-10}</string>
                <key>spriteSize</key>
                <string>{266,436}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{440,837},{266,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-33}</string>
                <key>spriteSize</key>
                <string>{336,432}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{873,1195},{336,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-56}</string>
                <key>spriteSize</key>
                <string>{380,370}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1300,1588},{380,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-93}</string>
                <key>spriteSize</key>
                <string>{436,282}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{881,580},{436,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-7}</string>
                <key>spriteSize</key>
                <string>{413,432}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1314,1173},{413,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{413,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{436,1491},{413,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{413,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{868,1533},{413,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1789,1},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1783,442},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1,304},{230,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1,536},{230,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1,536},{230,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1,304},{230,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1783,442},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{284,439}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1342,298},{284,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1,1058},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1319,584},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1319,584},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1319,584},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{276,427}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1,1702},{276,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunL__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{329,434}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1319,842},{329,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunR__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{329,434}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{878,864},{329,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Slide__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{367,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1672,1588},{367,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-9}</string>
                <key>spriteSize</key>
                <string>{259,427}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1755,883},{259,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{301,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-1}</string>
                <key>spriteSize</key>
                <string>{299,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{448,1},{299,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{297,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{895,1},{297,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-3}</string>
                <key>spriteSize</key>
                <string>{295,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1342,1},{295,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-6}</string>
                <key>spriteSize</key>
                <string>{243,439}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{448,302},{243,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-2.png</string>
            <key>size</key>
            <string>{2022,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abde48832fc306ac2279de362a5234c9:0bda5f46111865c51c2104e0bbe33330:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-2.png</string>
        </dict>
    </dict>
</plist>
