<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,13}</string>
                <key>spriteSize</key>
                <string>{278,439}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{732,1704},{278,439}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,14}</string>
                <key>spriteSize</key>
                <string>{298,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{414,1266},{298,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1630,444},{272,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1150,626},{272,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-10}</string>
                <key>spriteSize</key>
                <string>{266,436}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{857,1266},{266,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-93}</string>
                <key>spriteSize</key>
                <string>{436,282}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1535,900},{436,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Glide_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,433},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{411,428}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{414,433},{411,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{414,1},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glide_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{411,430}</string>
                <key>spriteSourceSize</key>
                <string>{443,454}</string>
                <key>textureRect</key>
                <string>{{1,865},{411,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,37}</string>
                <key>spriteSize</key>
                <string>{376,412}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{827,1},{376,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{310,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1,1721},{310,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{346,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{770,863},{346,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{354,401}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{414,863},{354,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{324,403}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{406,1566},{324,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-3}</string>
                <key>spriteSize</key>
                <string>{306,409}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1540,1338},{306,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{304,423}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1205,320},{304,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1118,900},{332,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1118,900},{332,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{827,415},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{353,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1297},{353,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{317,432}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1205,1},{317,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{319,406}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1125,1234},{319,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1173,1642},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{243,441}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1639,1},{243,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-3.png</string>
            <key>size</key>
            <string>{1903,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928168513795c6af045ad8469b0c48c4:975e119b7ed5daeedc52419ab2d4f8c3:3d14b2677e720b7619c79bae9d475c6b$</string>
            <key>textureFileName</key>
            <string>ninja-3.png</string>
        </dict>
    </dict>
</plist>
