<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AttackL__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,13}</string>
                <key>spriteSize</key>
                <string>{278,439}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1766,1606},{278,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackL__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,14}</string>
                <key>spriteSize</key>
                <string>{298,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{921,1606},{298,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackL__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,14}</string>
                <key>spriteSize</key>
                <string>{490,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{499,436},{490,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackL__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,10}</string>
                <key>spriteSize</key>
                <string>{494,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{499,1},{494,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackR__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,14}</string>
                <key>spriteSize</key>
                <string>{298,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1221,1606},{298,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackR__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,14}</string>
                <key>spriteSize</key>
                <string>{490,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1,495},{490,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AttackR__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,10}</string>
                <key>spriteSize</key>
                <string>{494,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{995,1},{494,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{256,458}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{991,436},{256,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{272,450}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1,938},{272,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{647,1529},{272,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Climb_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{272,446}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1395,1025},{272,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{272,450}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1443,751},{272,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Climb_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{256,458}</string>
                <key>spriteSourceSize</key>
                <string>{282,464}</string>
                <key>textureRect</key>
                <string>{{1451,493},{256,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{921,1344},{442,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{921,1344},{442,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{921,1344},{442,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{921,1344},{442,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-13}</string>
                <key>spriteSize</key>
                <string>{490,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1491,1},{490,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{496,492}</string>
                <key>spriteSourceSize</key>
                <string>{504,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{496,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{991,694},{323,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunL__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1539},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunL__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{945,1019},{323,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunR__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{493,879},{323,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RunR__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{324,1539},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunR__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{453,1204},{323,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{243,441}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1521,1606},{243,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{305,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1395,1299},{305,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Throw__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-2}</string>
                <key>spriteSize</key>
                <string>{325,447}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1,1212},{325,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-1.png</string>
            <key>size</key>
            <string>{2045,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abde48832fc306ac2279de362a5234c9:0bda5f46111865c51c2104e0bbe33330:17d65ec3a8fc3a8f9c43b399037b6b06$</string>
            <key>textureFileName</key>
            <string>ninja-1.png</string>
        </dict>
    </dict>
</plist>
