<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,11}</string>
                <key>spriteSize</key>
                <string>{288,437}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1060,442},{288,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,13}</string>
                <key>spriteSize</key>
                <string>{278,439}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{601,887},{278,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,14}</string>
                <key>spriteSize</key>
                <string>{298,441}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{324,1},{298,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,9}</string>
                <key>spriteSize</key>
                <string>{384,433}</string>
                <key>spriteSourceSize</key>
                <string>{536,495}</string>
                <key>textureRect</key>
                <string>{{1297,1319},{384,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-93}</string>
                <key>spriteSize</key>
                <string>{436,282}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1113,881},{436,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{308,449},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{308,449},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{308,449},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{308,449},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{910,1},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{601,1328},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{835,1328},{230,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{881,883},{230,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{228,437}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1144,1},{228,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{228,437}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1067,1324},{228,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{228,437}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{1144,1},{228,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{881,883},{230,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{230,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{835,1328},{230,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{601,1328},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{304,411}</string>
                <key>spriteSourceSize</key>
                <string>{360,431}</string>
                <key>textureRect</key>
                <string>{{1374,1},{304,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{284,439}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{624,1},{284,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1,1790},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{438,1790},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{438,1790},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{438,1790},{256,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{276,427}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{875,1769},{276,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{329,434}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1350,440},{329,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1681,1},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1681,695},{363,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1683,1393},{361,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1683,1044},{363,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1681,348},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-9}</string>
                <key>spriteSize</key>
                <string>{259,427}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1397,876},{259,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-4}</string>
                <key>spriteSize</key>
                <string>{243,441}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{570,444},{243,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{305,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1,449},{305,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{301,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1,896},{301,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-1}</string>
                <key>spriteSize</key>
                <string>{299,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{1,1343},{299,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{297,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{302,1343},{297,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-3}</string>
                <key>spriteSize</key>
                <string>{295,445}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{304,896},{295,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Throw__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-6}</string>
                <key>spriteSize</key>
                <string>{243,439}</string>
                <key>spriteSourceSize</key>
                <string>{377,451}</string>
                <key>textureRect</key>
                <string>{{815,442},{243,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja-1.png</string>
            <key>size</key>
            <string>{2047,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a599bd60444fe6575caa08173bf33ab1:a7a18f916abea0ae14ac32d16865479b:675499cab74328f638ed67d6f8808c26$</string>
            <key>textureFileName</key>
            <string>ninja-1.png</string>
        </dict>
    </dict>
</plist>
